body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(245, 246, 248); /* o cualquier fondo claro */
    color: #000; /* texto negro */
    background-color: rgb(245, 246, 248);
}

.chart-container {
    width: 100%;
    max-width: 400px;
    height: 40px;
    margin: auto;
}

canvas {
    max-width: 100% !important;
    max-height: 85% !important;
}

.bg-dark-blue {
  background-color: #1f2a48;
}

.titulo > h1{
    font-size: 2.8rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.cabecera{
    background-color: rgb(255, 255, 255);
}

.cuerpo{
    background-color: rgb(245, 246, 248);
    padding: 20px 0 0 0;
    min-height: 100%;
}
